name: nm remote push
run-name: ${{ github.actor }} verifying branch '${{ github.ref }}'

on:
  push:
    branches-ignore:
      - main

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:

    REMOTE:
        uses: ./.github/workflows/nm-build-test.yml
        with:
            # used for build phase
            python: 3.10.12
            gitref: ${{ github.ref }}

            test_configs: '[{"python":"3.8.17","label":"gcp-k8s-l4-solo","test":"neuralmagic/tests/test_skip_env_vars/smoke.txt"},
                            {"python":"3.9.17","label":"gcp-k8s-t4-duo","test":"neuralmagic/tests/test_skip_env_vars/smoke.txt"},
                            {"python":"3.10.12","label":"gcp-k8s-l4-duo","test":"neuralmagic/tests/test_skip_env_vars/smoke.txt"},
                            {"python":"3.11.4","label":"gcp-k8s-l4-solo","test":"neuralmagic/tests/test_skip_env_vars/smoke.txt"}]'
            test_timeout: 480

            benchmark_label: gcp-k8s-l4-solo
            benchmark_config_list_file: ./.github/data/nm_benchmark_remote_push_configs_list.txt
            benchmark_timeout: 480
        secrets: inherit

    # BUILD-TEST-3-8:
    #     uses: ./.github/workflows/nm-build-test.yml
    #     with:
    #         python: 3.8.17
    #         gitref: ${{ github.ref }}

    #         test_label_solo: gcp-k8s-l4-solo
    #         test_label_multi: ignore
    #         test_timeout: 480
    #         test_skip_env_vars: neuralmagic/tests/test_skip_env_vars/smoke.txt

    #         benchmark_label: gcp-k8s-l4-solo
    #         benchmark_config_list_file: ./.github/data/nm_benchmark_remote_push_configs_list.txt
    #         benchmark_timeout: 480
    #     secrets: inherit

    # BUILD-TEST-3-9:
    #     uses: ./.github/workflows/nm-build-test.yml
    #     with:
    #         python: 3.9.17
    #         gitref: ${{ github.ref }}

    #         test_label_solo: gcp-k8s-l4-solo
    #         test_label_multi: ignore
    #         test_timeout: 480
    #         test_skip_env_vars: neuralmagic/tests/test_skip_env_vars/smoke.txt

    #         benchmark_label: gcp-k8s-l4-solo
    #         benchmark_config_list_file: ./.github/data/nm_benchmark_remote_push_configs_list.txt
    #         benchmark_timeout: 480
    #     secrets: inherit

    # BUILD-TEST-3-10:
    #     uses: ./.github/workflows/nm-build-test.yml
    #     with:
    #         python: 3.10.12
    #         gitref: ${{ github.ref }}

    #         test_label_solo: gcp-k8s-l4-solo
    #         test_label_multi: ignore
    #         test_timeout: 480
    #         test_skip_env_vars: neuralmagic/tests/test_skip_env_vars/smoke.txt

    #         benchmark_label: gcp-k8s-l4-solo
    #         benchmark_config_list_file: ./.github/data/nm_benchmark_remote_push_configs_list.txt
    #         benchmark_timeout: 480
    #     secrets: inherit

    # BUILD-TEST-3-11:
    #     uses: ./.github/workflows/nm-build-test.yml
    #     with:
    #         python: 3.11.4
    #         gitref: ${{ github.ref }}

    #         test_label_solo: gcp-k8s-l4-solo
    #         test_label_multi: ignore
    #         test_timeout: 480
    #         test_skip_env_vars: neuralmagic/tests/test_skip_env_vars/smoke.txt

    #         benchmark_label: gcp-k8s-l4-solo
    #         benchmark_config_list_file: ./.github/data/nm_benchmark_remote_push_configs_list.txt
    #         benchmark_timeout: 480
    #     secrets: inherit
